[user]
	name = alexandrecq
	email = alex@visby.io
[core]
	editor = vim
	excludesfile = /home/alex/.gitignore_global

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    df = diff -w
    lg = log --graph --oneline
    unstage = reset HEAD --
    last = log -1 HEAD
[push]
	default = current
