.ICEauthority
.bash_history
.fzf
.dirs
.bash_logout
.bashrc-anaconda3.bak
.dbus
.lesshst
.pdfbox.cache
.pylint-gui-history
.spacemacs
.sudo_as_admin_successful
.viminfo
.vim_mru_files
.wget-hsts

.conda/
.emacs.d/
.gdfuse/
.gnupg/
.gradle/
.java/
.mplayer/
.oracle_jre_usage/
.parallel/
.pyembree/
.rpmdb/
.ssh/
.venvs/
.vim/
.vim_runtime/

Software/
anaconda3/
Downloads/
repos/
