.ICEauthority
.bash_history
.dmrc
.fzf
.dirs
.bash_logout
.bashrc-anaconda3.bak
.dbus
.lesshst
.pdfbox.cache
.pylint-gui-history
.spacemacs
.sudo_as_admin_successful
.viminfo
.vim_mru_files
.wget-hsts
.xsession-errors*
.Xauthoriy

.conda/
.compiz/
.config/
.emacs.d/
.fontconfig/
.gconf/
.gdfuse/
.gimp-*/
.gnome/
.gnupg/
.gradle/
.java/
.keras/
.local/
.mplayer/
.mozilla/
.nv/
.oracle_jre_usage/
.parallel/
.pyembree/
.pylint.d/
.pki/
.rpmdb/
.ssh/
.thumbnails/
.venvs/
.vim/
.vim_runtime/


examples.desktop

NVIDIA*/
Software/
anaconda3/
Downloads/
repos/
snap/
visby/
